.fileInput {
  height: 1px;
  width: 1px;
  background-color: transparent;
  outline: none;
}

.label {
  display: flex;
  color: rgba(143, 155, 179, 1);
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  h3 {
    margin-bottom: 0;
    font-size: 16px;
  }

  h4 {
    margin: 0;
    font-size: 12px;
    span {
      color: #0400ff;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.disabled {
  color: lightgrey;

  &:hover {
    border: 1px solid lightgrey;
  }
}
