.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.card {
  margin-top: 28px;
  margin-bottom: 28px;
  background: #fdfefe;
  box-shadow: 0px 12px 44px -12px rgba(23, 97, 83, 0.8);
  border-radius: 20px;
  padding: 32px;
  width: 628px;
}

.cardHeading {
  color: rgba(16, 20, 38, 1);
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;

  svg {
    margin-right: 12px;
  }
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 28px;
}

.internal {
  background: rgba(246, 250, 249, 1);
  border-radius: 4px;
  padding: 32px;
}

@media (max-width: 768px) {
  .card {
    width: 60%;
  }
}

@media (max-width: 375px) {
  .card {
    width: 90%;
    margin-bottom: 20px;
    padding: 16px;
  }

  .internal {
    padding: 16px;
  }
}
