.label {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.textarea {
  resize: none;
  width: 100%;
  height: 10vh;
  border-color: #fff;
  border-radius: 4px;
  padding: 16px;
  font-size: 14px;
  font-family: SF Pro Display;

  &::placeholder {
    color: rgba(143, 155, 179, 1);
  }
}
